.page {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
