.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 17px;
    margin-bottom: 67px;
}

@media screen and (max-width: 879px) {
    .places {
        justify-content: space-around;
    }
}

@media screen and (max-width: 767px) {
    .places {
        margin-bottom: 49px;
    }
}
