.popup__container_open-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-width: fit-content;
    padding: 0;
    height: auto;
    background-color: unset;
    color: #ffffff;

    border-radius: 0;
}
