.popup__container_open-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: fit-content;
    padding: 0;
    max-height: 100vh;
    background-color: unset;
    color: #ffffff;
    overflow: hidden;
    border-radius: 0;
}
