.profile__titles-string {
    display: flex;
    align-items: flex-end;
    margin-bottom: 7px;
}

@media screen and (max-width: 767px) {
    .profile__titles-string {
        margin-bottom: 7px;
        padding-left: 27px;
    }
}

@media screen and (max-width: 319px) {
    .profile__titles-string {
        margin-bottom: 14px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
