.profile__redact-logo {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
}

@media screen and (max-width: 767px) {
    .profile__redact-logo {
        width: 7px;
        height: 7px;
    }
}
