.profile__redact-button {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 1px solid #ffffff;
    background-color: rgba(28, 28, 28, 0);
    background: url(../../../images/logo_redact.svg) no-repeat;
    background-size: auto;
    background-position: center center;
    margin: 0;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;
}

.profile__redact-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 768px) and (max-width: 879px) {
    .profile__redact-button {
        width: 22px;
        height: 22px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 767px) {
    .profile__redact-button {
        width: 18px;
        height: 18px;
    }
}
