.profile__add-logo {
    width: 22px;
    height: 22px;
    position: absolute;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
    .profile__add-logo {
        width: 17px;
        height: 17px;
    }
}
