.popup {
    visibility: hidden;
    align-items: center;
    opacity: 0;

    justify-content: center;
    position: relative;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

.popup:not(.popup__container) {
    cursor: pointer;
}
